.buton {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    width: 200px;
    height: 60px;
    background: #ca80ff;
    font-weight: 500;
    font-size: 18px;
    color: #000;
    transition: all 0.3s ease;
}

.buton:hover {
    background: #daa8ff;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}